
/***********************************

    Body Styles

************************************/


body {

  font-family: 'Open Sans', sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  background: url('../pictures/desktop.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#wrapper {

  margin: 0px auto;
  padding: 0px;
  position: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 980px;
  min-width: 250px;


}


/**************************************

Main header

***************************************/

#main {

  text-align: center;
  font-size: 70px;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-weight: 800;
  padding: 15px 10px;


}

#theNav {

  max-width: 100%;


}

/***************************************

Header and Navigation

***************************************/

header nav {

  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
  position: top;


}

header nav ul {

  list-style: none;
  margin: 0 10px;
  padding: 0;
  position: top;

}

header nav li {

  display: inline-block;

}

header nav a {

  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
  position: top;

}
/*************************
    Top Navigation
**************************/

.topnav {
  overflow: auto;
  background: url('../pictures/banner.png');
  max-width: 100%;
  background-size: cover;
  background-repeat:
}

.topnav a {
  float: left;
  color: #7fffd4;
  position: top;
  width:120px;
  padding: 15px 10px;
  text-decoration: none;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
}

.topnav a:hover {
  color: white;
  position: top;
}

.topnav a.active {
  color: white;
  position: top;
}

/*************************

website nav

**************************/

#website nav {

  text-align: center;

}

/*************************

Article styles

**************************/

article h2 {

  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
  text-align: center;

}

article h3 {

  color: #7fffd4;
  text-align: center;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 50px;

}

article h4 {

  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 20px;

}

article p {

  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 20px;

}

/*======================================

            Contacts Style

========================================*/

#Contacts{

  text-align: left;
  position: left;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;

}

#Contacts h1 {

  text-align: center;
  font-size: 50px;

}


/**************************

footer styles

**************************/

footer {

  clear left;
  font-size: 22px;
  text-align: center;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  margin-top: 100px;

}
