
/***********************************

    Body Styles

************************************/


body {

  font-family: 'Open Sans', sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  background: url('../pictures/desktop2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;

  /***************************

  Creates sticky footer

  ****************************/

  flex-grow: flex;
  flex-direction: column;
  min-height: 100vh;



}

#wrapper {

  margin: 0px auto;
  padding: 0px;
  position: center;
  line-height: 1.5em;
  width: 100%;
  max-width: 980px;
  min-width: 250px;

  flex-grow: 1;


  /* border: solid blue; */


}
/**************************************

.card-horizontal

***************************************/

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.profile-photo 
 {
  z-index: -1;
}

.card-text
{
  text-indent: 50px;   
}
.mainabout
{
  padding: 10px;
}
/**************************************

Main header

***************************************/

#main {

  text-align: left;
  font-size: 70px;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-weight: 800;
  padding: 15px 20px;
  margin-left: 70px;


}

#theNav {

  max-width: 100%;

}

/***************************************

Header and Navigation

***************************************/

header nav {

  text-align: right;
  padding: 20px 0;
  margin: 20px 0 0;
  position: top;


}
.thenav
{
  text-decoration:none;
}

header nav ul {

  list-style: none;
  margin: 10px 10px ;
  padding: 0;
  position: top;

}

header nav li {

  display: inline-block;

}

header nav a {

  font-weight: 800;
  padding: 15px 10px;
  text-decoration: none;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
  position: top;

}
/*************************
    Top Navigation
**************************/

.topnav {
  overflow: auto;
  background: linear-gradient(#79CDCD, transparent 90%), linear-gradient(0deg, #fff, transparent), #AFEEEE url('../pictures/banner.png');
  padding-top: 170px;
  height: 850px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;

}

.topnav a {
  float: left;
  color: #7fffd4;
  position: top;
  width:120px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
}

.topnav a:hover {
  text-decoration: none;
  color: white;
  position: top;
}

.topnav a.active {
  color: white;
  position: top;
}

/*************************

website nav

**************************/

#website nav {

  text-align: center;

}

/*************************

Article styles

**************************/

article h2 {

  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
  text-align: center;

}

article h3 {

  color: #7fffd4;
  text-align: center;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 50px;

}

article h4 {

  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 20px;

}

article p {

  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 25px;

}

.profile-photo {

  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;

}

/*======================================

            Contacts Style

========================================*/

#Contacts{

  text-align: left;
  position: left;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;

}

#Contacts h1 {

  text-align: center;
  font-size: 50px;

}


/**************************

footer styles

**************************/

.main-footer {

  clear left;
  font-size: 22px;
  text-align: center;
  color: #7fffd4;
  text-shadow:0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  margin-top: 100px;
  padding-top: 220px;
  padding-bottom: 60px;
  background: url('../pictures/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;

}
