#wrapper {
  /* border: solid salmon; */
}

.main-about {
  /* border: solid blue; */
  margin: 0 auto;
  position: relative;
  height: 1000px;
  width: 1000px;
}

/*******************************

Structure styles

********************************/

.structure {
  background:linear-gradient(#CCFFFF, transparent 25%),
  linear-gradient(0deg, #fff, transparent), black;
  width: 30%;
  height: 60%;
  float: left;
  margin:  10px 10px 10px 10px;
  position: relative;
  left: 20px;
  transition: all .2s ease-in-out;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #2f9b9b, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.structure:hover
{ transform: scale(1.1); }

/************************************

Subheader styles

************************************/

.subheader {

  /* border: solid pink; */
  width: 100%;
  height: 25%;

}

/****************************************

Subody styles

*****************************************/

.subbody {
  width: 100%;
  height: 70%;

}
.img-square-wrapper
{
  padding-top: 10px
}
.titlename
{
  padding-bottom: 30px;  
}
.subbody
{
  padding-top: 100px;
}

.card-text
{
  padding-top: 10px;
  font-size: 1.1em;
  text-indent: 50px;
  margin: 10px 15px 10px 15px;
  color: #264549;
}
/************************************

Whole styles

************************************/

.whole {

  border: solid white;
    background:linear-gradient(#CCFFFF, transparent 70%),
  linear-gradient(0deg, #fff, transparent), black;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 25%;
  bottom: 60px;
  margin: 10px 15px 10px 15px;
  
}

.left {

  border: solid yellow;
  width: 50%;
  height: 100%;
  float: left;
  transition: all .2s ease-in-out;
}
.left:hover
{ transform: scale(1.1); }
.right {

  border: solid brown;
  width: 50%;
  height: 100%;
  float: right;
  transition: all .2s ease-in-out;
  
}
.right:hover
{ transform: scale(1.1); }
.card-title
{
  border: bisque solid;
  position: absolute;
  bottom: 15px;
  margin: 10px 15px 10px 15px;
  /* padding-top: 100px; */
}

/*******************************

Main title styles

********************************/

.mainTitle h3 {

  text-align: center;
  padding-top: 60px;
  font-size: 50px;
  color: #7fffd4;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000, 0 0 30px #000,
    0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-weight: 800;
  
}

/********************************

title styles

*********************************/

h1 {

  color: #7fffd4;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000,
    0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 30px;
  text-align: center;


}

/*********************************

Title name styles

**********************************/

.titlename h5 {

  color: #7fffd4;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000,
    0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 20px;
  text-align: center;

}

.titlename h4 {

  text-align: center;

}
.card-title
{
  color: #7fffd4;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000,
    0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  font-size: 20px;
  text-align: center;
}
/***********************************

Logo styles

*************************************/

.mainPic {

  position: fixed;
  top: 5px;
  width:  300px;
  height: 107px;
  text-align: left;
  
}

/**********************************

Banner styles

**********************************/
.banner
{
  /* border: solid red; */
}
.bannerOne {
  /* border: solid pink; */
  width: 99vw;
  overflow: hidden;   
  position: relative;
  right: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  max-width: 100%;
}
.titleh6
{
  border: solid pink;
  position: absolute;
  text-align: center;
  top: 50px;
  right: 50px;
  left: 50px;
  /* margin: 0 auto; */

}
