/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Tutorial Case

   Tables Style Sheet
   Author: Jhoset Ceron
   Date:   10/10/2017

   Filename:         tables.css
   Supporting Files:

*/

/* Styles for the schedule table */

table.schedule {

    border: 10px outset ##7fffd4;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    width: 100%;

}

/**********************

Table heder

************************/

thead th {

  font-size: 20px;
  color: white;
  text-shadow:0 0 10px #323334, 0 0 20px #323334, 0 0 30px #323334, 0 0 40px #323334, 0 0 50px #323334, 0 0 60px #323334, 0 0 70px #323334;

}

table.schedule th, table.schedule td {

    border: 1px solid #7fffd4;

}

/* Table header Styles */
table.schedule thead {

    background-color: #7fffd4;
    color: black;
    color: rgba(0, 0, 0 )

}

table.schedule thead tr {

    height: 50px;

}

/* Table body styles */
table.schedule tbody tr {

    height: 40px;

}

table.schedule tbody td {

    padding: 5px;
    vertical-align: top;

}

/* Styles for the first column of the table */
table.schedule col.firstCol {

    background-color: rgb(36, 248, 229;
    width: 7%;

}

/* Styles for the reamining columns */
table.schedule col.dayCols {

    width: 13%;

}

/* Styles for the table caption */
table.schedule caption {

    caption-side: bottom;
    text-align: right;

}

/* Two column layout */
section#main p {

    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;

    -moz-column-rule: 2px solid rgb(153, 0, 153);
    -webkit-column-rule: 2px solid rgb(153, 0, 153);
    column-rule: 2px solid rgb(153, 0, 153);


}
